{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <link href="{% static 'network/css/new_post.css' %}" rel="stylesheet">

    <div id="create-post-div">
        <h3>Create Post</h3>
        <form action="{% url 'create-post' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="content">Content:</label>
            <br>
            <textarea id="content" name="content" rows="4" placeholder="Write something..." required></textarea>
            <br>
            <button type="submit">Post</button>
        </form>
    </div>
        
{% endblock %}