{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New Page</h1>

    <form action="{% url 'encyclopedia:save_new' %}" method="post">
        {% csrf_token %}
        <input name="title" type="text" placeholder="Title" required> <br>
        <textarea name="new_entry" style="width: 500px; height: 400px;" placeholder="MD Content" required></textarea> <br>
        {% if title_error %}
            <h4>Title already exists, please choose another title.</h4>
        {% endif %}
        <input type="submit" value="save">
    </form>

{% endblock %}